*{
    margin: 0 auto;
}

body{
    font-style:italic;
}

.tamanho-diferente{
    display: none;
}
@media only screen and (max-width: 600px){
    .tamanho-diferente.pequeno{
        display: block;
    }
    .primeira{
        position: relative;
        height: 40px;
    }
    .lk1{
        position: absolute;
        left: 5%;
        color: black;
        text-decoration: none;
    }
     .lk2{
        position: absolute;
        left: 85%;
        color: black;
        text-decoration: none;
    }
     .lk3{
        position: absolute;
        left: 75%;
        color: black;
        text-decoration: none;
    }
     .lk4{
        position: absolute;
        left: 59%;
        color: black;
        text-decoration: none;
    }
    .cont{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        background-color: rgba(15, 170, 170, 0.671);
        color: aliceblue;
        height: 120px;
        position: absolute;
        top: 28%;
        left: 23%;
    }
    .segunda{
        background-image: url(/assets/img-fundo.jpg);
        background-repeat: repeat-x;
        background-size: cover;
        height: 300px;
        position: relative;
    }
    .terceira{
        width: 200px;
        text-align: center;
        padding-left: 24%;
        padding-top: 20px;
    }
    .terceira h1{
        font-size: 15px;
    }
     .terceira p{
        font-size: 12px;
    }
    .quarta{
        position: relative;
        height: 650px;
    }
    .img8{
        position: absolute;
        left: 24%;
        top: 8%;
    }
    .lk5{
        position: absolute;
        font-size: 12px;
        top: 192px;
        left: 34%;
        text-decoration: none;
        color: black;
    }
     .img7{
        position: absolute;
        left: 25%;
        top: 37%;
    }
    .lk6{
        position: absolute;
        font-size: 12px;
        top: 380px;
        left: 36%;
        text-decoration: none;
        color: black;
    }
     .img6{
        left: 25%;
        top: 68%;
        position: absolute;
    }
    .lk7{
        position: absolute;
        font-size: 12px;
        top: 580px;
        left: 38%;
        text-decoration: none;
        color: black;
    }
    iframe{
        width: 100%;
        height: 180px;
    }
    .quinta{
        text-align: center;

    }
    .quinta p,h1{
        text-align: center;
        padding: 10px;
    }
    .sexta p,h1{
        text-align: center;
        
        text-align: center;
        padding: 10px;
    }
    .sexta{
        margin-top: 10px;
    }
    .setima{
        height: 800px;
        
        position: relative;
    }

    .img9{
        position: absolute;
        top: 5%;
        left: 5%;
    }
    .tot6{
        font-size: 16px;
        position: absolute;
        left: 36%;
        top: 4%;
    }
    .pr15{
        position: absolute;
        width: 250px;
        text-align: left;
        left: 36%;
        top: 7%;
    }
    .img10{
        position: absolute;
        top: 28%;
        left: 5%;
    }
    .tot7{
        font-size: 16px;
        position: absolute;
        left: 36%;
        top: 27%;
    }
    .pr16{
        position: absolute;
        width: 240px;
        text-align: left;
        left: 36%;
        top: 30%;
    }
    .img11{
        position: absolute;
        top: 51%;
        left: 5%;
    }
    .tot8{
        font-size: 16px;
        position: absolute;
        left: 36%;
        top: 50%;
    }
    .pr17{
        position: absolute;
        width: 240px;
        text-align: left;
        left: 36%;
        top: 53%;
    }
    .img12{
        position: absolute;
        top: 73%;
        left: 5%;
    }
    .tot9{
        font-size: 16px;
        position: absolute;
        left: 36%;
        top: 72%;
    }
    .pr18{
        position: absolute;
        width: 240px;
        text-align: left;
        left: 36%;
        top: 75%;
    }
    .oitava{
        background-color: #4c9a7c  ;
        height: 550px;
        position: relative;
        
    }
    .cont3{
        
        width: 300px;
        height: 100px;
        margin: 0 auto;
        position: relative;
        margin-top: 30px;
    }
    .tot10{
        color: white;
        text-align: center;
        width: 200px;
        margin: 0 auto;
        padding-top: 25px ;
    }
    .img13{
        position: absolute;
        top: 20px;
        left: 35px;
    }
    .pr19{
        width: 180px;
        position: absolute;
        top: 15px;
        left: 105px;
        color: aliceblue;
    }
    .cont4{
        
        width: 300px;
        height: 100px;
        margin: 0 auto;
        position: relative;
        margin-top: 30px;
    }
    
    .img14{
        position: absolute;
        top: 20px;
        left: 35px;
    }
    .pr20{
        width: 180px;
        position: absolute;
        top: 15px;
        left: 105px;
        color: aliceblue;
    }
    .cont5{
        
        width: 300px;
        height: 100px;
        margin: 0 auto;
        position: relative;
        margin-top: 30px;
    }
    
    .img15{
        position: absolute;
        top: 20px;
        left: 35px;
    }
    .pr21{
        width: 180px;
        position: absolute;
        top: 15px;
        left: 105px;
        color: aliceblue;
    }
    .pr22{
        position: absolute;
        bottom: 3%;
        left: 27%;
        color: aliceblue;
    }
    .cont6{
        border-top: 1px solid black;
        width: 70%;
        margin: 0 auto;
    }

}
@media only screen and (min-width: 1024px) {
    
.tamanho-diferente.grande{
    display: block;
}
.primeira{
    height: 70px;
    position: relative;
}
.lk1{
    position: absolute;
    left: 20%;
    top: 20px;
    text-decoration: none;
    
}
.lk2{
    position: absolute;
    left: 70%;
    top: 20px;
    text-decoration: none;
}
.lk3{
    position: absolute;
    left: 75%;
    top: 20px;
    text-decoration: none;
}
.lk4{
    position: absolute;
    left: 80%;
    top: 20px;
    text-decoration: none;
}
.segunda{
    height: 600px;
    background-image: url(assets/img-fundo.jpg);
    position: relative;
}
.cont{
    background-color: rgba(18, 161, 113, 0.497);
    background-repeat: repeat-y;
    background-size: cover;
    opacity: 100;
    width: 350px;
    height: 100px;
    color: aliceblue;
    text-align: center;
    padding: 30px;
    position: absolute;
    top: 200px;
    left: 37%;
    border: 1px solid white;
}
.cont h1{
    padding-bottom: 20px;
    font-size: 40px;
}
.terceira{
    width: 420px;
    margin-top: 45px;
    text-align: center;
}
.terceira h1{
    padding: 20px;
}
.terceira p,p{
padding: 8px;
}
.quarta{
    padding-top: 50px;
    position: relative;
}
.img8{
    position: absolute;
    left: 15%;
}
.img7{
    position: absolute;
    left:42%;
}
.img6{
    position: absolute;
    left: 69%;
}
.lk7{
position: absolute;
left: 19%;
top: 220px;
text-decoration: none;
}
.lk6{
    position: absolute;
    left:45%;
    top: 220px;
    text-decoration: none;
}
.lk5{
    position: absolute;
        left: 72%;
        top: 220px;
        text-decoration: none;
    
    }
    .pr10{
        width: 234px;
        height: 1px;
        background-color: aquamarine;
        position: absolute;
        left: 15%;
        top: 250px;
    }
    .pr11{
        width: 234px;
        
        background-color: aquamarine;
        position: absolute;
       left:42%;
        top: 250px;
    }
    .pr12{
        width: 234px;
        
        background-color: aquamarine;
        position: absolute;
        left: 69%;
        top: 250px;
    }


.quinta{
    position: relative;
    height: 880px;

}
.tot4{
    position: absolute;
    top: 340px;
    left: 49%;
}
.pr13{
    position: absolute;
    top: 380px;
    left: 43%;
}
.gps{
    position: absolute;
    left: 0px;
    top: 470px;
    width: 100%;
    height:400px;
}
.tot5{
    text-align: center;
    padding-bottom: 15px;
}
.pr14{
    text-align: center;
}
.setima p{
    width: 400px;
}
.setima{
    margin-top: 35px;
    height: 350px;
    position: relative;
    width: 1100px;
}
.tot6{
    position: absolute;
    top: 10px;
    left: 2px;
}
.pr15{
    position: absolute;
    text-align: justify;
    top: 30px;
    left: 2px;
}
.img9{
    position: absolute;
    left: 39%;
}
.tot7{
    position: absolute;
    left: 52%;
    top: 10px;
}
.pr16{
    position: absolute;
    text-align: justify;
    top: 30px;
    left: 52%;
}
.img10{
    position: absolute;
    left: 93%; 
}
.tot8{
 position: absolute;
    left: 2px;
    top: 180px;   
}
.pr17{
    position: absolute;
    left: 2px;
    top: 200px;
}
.img11{
   position: absolute;
    left: 39%;
    top: 170px
} 
.tot9{
    position: absolute;
    left: 52%;
    top: 170px;
}
.pr18{
    position: absolute;
    left: 52%;
    top: 190px;
}
.img12{
    position: absolute;
    left: 93%; 
    top: 170px
}
.oitava{
    background-color: #49997c;
    color: aliceblue;
    position: relative;
    height: 130px;
}

.img13{
    position: absolute;
    top: 40px;
    left: 39%;
}
.pr19{
    width: 200px;
   position: absolute;
   left: 42%; 
   top: 33px;
}
.img14{
    position: absolute;
    top: 40px;
    left: 59%;
}
.pr20{
    width: 200px;
   position: absolute;
   left: 62%; 
   top: 38px;
}
.img15{
    position: absolute;
    top: 40px;
    left: 76%;
}
.pr21{
    width: 200px;
   position: absolute;
   left: 79%; 
   top: 32px;
}
.tot10{
    position: absolute;
    width: 200px;
    top: 30px;
    left: 19%;
}
.nona{
    background-color: #49997c;
    text-align: center;
    color: aliceblue;
}
.dd{
    background-color: #49997c;
    
}
.pr22{
    border: 1px solid rgba(0, 0, 0, 0.568);
    width: 80%;
    padding-left: 50px;
}
}